* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial;
    padding: 20px;
    background-color: #ffffff;

}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
    border-radius: 4px;
}

.product {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;

}

.product button {
    margin-top: 10px;
    padding: 6px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
}

.filter input {
    width: 120px;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;

}